.all-blog-sections{
width:100%;
padding:0 20px;
}

/* CONTAINER */

.Blog-main-div{
margin:40px auto;
width:100%;
max-width:1450px;
gap:75px;
}

/* BLOG GRID */

.blog-scroll{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:40px;
width:100%;
justify-items:center;
}

/* BLOG CARD */

.blog-card{
width:100%;
max-width:303px;
min-height:356px;
background:#fff;
box-shadow:0 4px 5px rgba(0,0,0,0.25);
border-radius:8px;
overflow:hidden;
}

/* IMAGE */

.blog-img{
overflow:hidden;
}

.blog-img img{
width:100%;
height:180px;
object-fit:cover;
transition:transform 0.4s ease;
}

.blog-img img:hover{
transform:scale(1.2);
}

/* CONTENT */

.blog-content{
padding:16px;
}

.blog-tag{
background:rgba(201,245,255,1);
padding:4px 8px;
color:rgba(0,110,135,1);
font-size:12px;
font-weight:500;
width: 60px;
}

/* TITLE */

.title-blog{
font-family:"Sora", sans-serif;
font-weight:400;
font-size:17px;
margin-top:8px;
line-height:120%;
color:rgba(0,6,61,1);
}

/* META */

.blog-meta{
font-family:Sora;
font-size:12px;
font-weight:400;
color:rgba(0,6,61,1);
}

.date-content p{
margin-top:20px;
font-size:12px;
}

.blog-author{
color:rgba(58,43,43,0.6);
}

.pagination{
display:flex;
justify-content:center;
align-items:center;
gap:10px;
margin-top:40px;
margin-bottom: 50px;
}

.pagination button{
border:none;
background:#eee;
padding:8px 14px;
cursor:pointer;
border-radius:4px;
font-family:"Sora",sans-serif;
}

.pagination button.active{
background:#293ce7;
color:white;
}

.pagination button:hover{
background:#0d1ebb;
color:white;
}

/* ===== LARGE LAPTOP ===== */

@media (max-width:1200px){

.blog-scroll{
grid-template-columns:repeat(3,1fr);
gap:35px;
}

}

/* ===== TABLET ===== */

@media (max-width:1024px){

.all-blog-sections{
padding-left:20px;
padding-right:20px;
}

.blog-scroll{
grid-template-columns:repeat(2,1fr);
gap:30px;
}

}

/* ===== MOBILE ===== */

@media (max-width:600px){

.blog-scroll{
grid-template-columns:1fr;
gap:20px;
}

.blog-heading{
font-size:18px;
padding-left:0;
}

.title-blog{
font-size:14px;
}

.blog-card{
max-width:100%;
}

}

/* ===== SMALL MOBILE ===== */

@media (max-width:400px){

.blog-img img{
height:200px;
}

.blog-content{
padding:14px;
}

}