/* ================= VISIBILITY ================= */

.visibility {
  width: 100%;
  background: white;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}

/* CONTAINER */

.visibility-container {
  max-width: 1308px;
 max-width:100%;
  margin: auto;
  gap: 50px;

  display: flex;
  grid-template-columns: 1fr auto;
  align-items: center;
 
  position: relative;
}

/* ================= TEXT ================= */

.visibility-text h2 {
  max-width: 1014px;

  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;

  background: linear-gradient(
    270deg,
    #FA0064 0%,
    #0A6CFF 50.09%,
    #8907FB 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ================= IMAGE ================= */

.why-left {
  position: relative;
}

.why-image-wrapper img {
  width: 150px;
  height: 200px;
  position: relative;
  top: -55px;
  padding-top: 30px;
}

/* ================= TABLET ================= */

@media (max-width: 1024px) {

  .visibility-container {
    grid-template-columns: 1fr auto;
    gap: 40px;
    padding-left: 20px;
  }

  .visibility-text h2 {
    font-size: 32px;
    max-width: 700px;
  }

  .why-image-wrapper img {
    width: 120px;
    top: -40px;
  }
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

  .visibility-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
 
   
  }

  .visibility-text h2 {
    font-size: 15px;
    max-width: 100%;
  }

 

}

/* ================= SMALL MOBILE ================= */

@media (max-width: 480px) {

  .visibility {
    padding: 40px 16px;
  
  }

  .visibility-text h2 {

    font-size: 16px;
  }

  .why-image-wrapper img {
    width: 60px;
   
  }
}
